* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Verdana;
	font-size: 13px;
	margin: 20px;
}

h1 {
	margin: 20px 0px;
}

h2 {
	margin: 20px 0px;
}

h3 {
	margin: 20px 0px;
}

hr {
	margin: 30px 0px;
}

p {
	margin-bottom: 20px;
}

label {
	display: block;
	font-weight: bold;
	margin-bottom: 4px;
}

	label em {
		font-weight: normal;
		color: #aaa;
		padding-left: 20px;
	}

	/* 
		specificity point
		elememt = 1
		class = 10
		id = 100
		inline = 1000
		!important = 10000 <- kun for dem som ikke kan finde ud af at skrive css!!!
	*/

#my-button {
	padding: 8px;
	background-color: #eee;
	border: 1px solid #aaa;
	border-radius: 5px;
}

#my-button.click {
	background-color: #7f7;
}

#my-button:focus {
	outline: none;
}